@import url('https://x.klarnacdn.net/ui/fonts/v1.1/fonts.css');

body {
	font-family: Klarna Sans, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	background-color: #fff;
	color: #212529;
	text-align: left;
	line-height: 25px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.navbar-inner {
	font-family: "Klarna Headline", Helvetica, Arial, sans-serif;
	padding-left:20px;
	padding-right:20px;
	background-color: #fff;
	background-image: unset;
	box-shadow: unset;
	border-bottom: 1px solid #D1D1D0;
}

.navbar .brand {
	color: black;
	height: 70px;
	padding: 0 20px 0 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
}

.navbar .nav,
.navbar .nav li
{
	height: 70px;
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 18px;
}

.navbar .nav li span,
.navbar .nav li a {
	transform: translateY(3px);
	transition: .3s all ease;
	color: black;
	text-shadow: unset;
}

.navbar .nav > li.active > span {
	background-color: #ffffff;
	color: #EB6F93;
}

.navbar .nav li {
	padding-right: 15px;
}

.navbar .nav li a:hover span {
	color: #EB6F93 !important;
}


.btn-navbar {
	background-color:#0074c8;
	background-image: none;
}

.btn-navbar:hover,.btn-navbar:active,.btn-navbar.active,.btn-navbar.disabled,.btn-navbar[disabled] {
	background-color:white;
	color: #1a8cdc;
}


